<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason0x43.alfred-nest</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>30778AA4-074D-4ADB-9A87-8F17F5ED205E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05259E81-CC29-49C5-B96F-794CC2C99604</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>588C0B96-CE46-4CEF-AD2C-5255CCE9C033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05259E81-CC29-49C5-B96F-794CC2C99604</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9D4B430-2B0C-4AE5-9A66-AB461519B979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05259E81-CC29-49C5-B96F-794CC2C99604</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC031BA1-1E00-4855-9556-620FDF95844E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30778AA4-074D-4ADB-9A87-8F17F5ED205E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>588C0B96-CE46-4CEF-AD2C-5255CCE9C033</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F9D4B430-2B0C-4AE5-9A66-AB461519B979</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Control your Nest</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-nest do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30778AA4-074D-4ADB-9A87-8F17F5ED205E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>nest</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading..</string>
				<key>script</key>
				<string>./alfred-nest tell "{query}"</string>
				<key>subtext</key>
				<string>Access your Nest</string>
				<key>title</key>
				<string>nest</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC031BA1-1E00-4855-9556-620FDF95844E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Nest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>05259E81-CC29-49C5-B96F-794CC2C99604</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-nest do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>588C0B96-CE46-4CEF-AD2C-5255CCE9C033</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-nest do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9D4B430-2B0C-4AE5-9A66-AB461519B979</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version: 0.1.1</string>
	<key>uidata</key>
	<dict>
		<key>05259E81-CC29-49C5-B96F-794CC2C99604</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>30778AA4-074D-4ADB-9A87-8F17F5ED205E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>588C0B96-CE46-4CEF-AD2C-5255CCE9C033</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F9D4B430-2B0C-4AE5-9A66-AB461519B979</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FC031BA1-1E00-4855-9556-620FDF95844E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/jason0x43/alfred-nest</string>
</dict>
</plist>
